.searchContent{
    width: 99%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    color: black
}

.cinemaList{
    margin-bottom: 50px;
}

.cinemaName{
    font-size: 20px;
    color: black;
}

.cinemaAddress{
    font-size: 16px;
    border-bottom: 1px solid gray;
}


