.tabBar {
    list-style: none;
    display: flex;
    position: fixed;
    left: 0px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: white;
    font-size: 20px;
}

.buttomBar{
    bottom: 0px;
}
.topBar{
    top: 30px;
}

.tabBar li {
    flex: 1;
    text-align: center;
}

